{% block falara_content %}
<div class="falara-content">
    <mt-card :title="$t('falara-translation-manager.content.title')">
        <mt-loader v-if="isLoading" />
        <div v-else>
            <mt-tabs
                :items="tabItems"
                v-model="activeTab"
                @change="onTabChange"
            />

            <div class="falara-content__toolbar">
                <mt-text-field
                    :label="$t('falara-translation-manager.content.search')"
                    v-model="searchTerm"
                    @change="onSearch"
                />
                <mt-button
                    variant="primary"
                    :disabled="selectedItems.length === 0"
                    @click="openTranslateModal"
                >
                    {{ $t('falara-translation-manager.content.translateSelected') }}
                    <span v-if="selectedItems.length > 0">({{ selectedItems.length }})</span>
                </mt-button>
            </div>

            <table class="falara-content__table" v-if="items.length > 0">
                <thead>
                    <tr>
                        <th>
                            <mt-checkbox
                                :checked="allSelected"
                                @change="toggleAll"
                            />
                        </th>
                        <th>{{ $t('falara-translation-manager.content.name') }}</th>
                        <th>{{ $t('falara-translation-manager.content.type') }}</th>
                        <th>{{ $t('falara-translation-manager.content.lastTranslated') }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in items" :key="item.id">
                        <td>
                            <mt-checkbox
                                :checked="selectedItems.includes(item.id)"
                                @change="toggleItem(item.id)"
                            />
                        </td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.type }}</td>
                        <td>{{ item.lastTranslated ? formatDate(item.lastTranslated) : '-' }}</td>
                    </tr>
                </tbody>
            </table>
            <p v-else>{{ $t('falara-translation-manager.general.noData') }}</p>

            <div class="falara-content__pagination" v-if="totalPages > 1">
                <mt-button variant="ghost" :disabled="currentPage <= 1" @click="prevPage">«</mt-button>
                <span>{{ currentPage }} / {{ totalPages }}</span>
                <mt-button variant="ghost" :disabled="currentPage >= totalPages" @click="nextPage">»</mt-button>
            </div>
        </div>
    </mt-card>

    <div v-if="showTranslateModal" class="falara-content__modal-overlay">
        <mt-card :title="$t('falara-translation-manager.modal.title')" class="falara-content__modal">
            <falara-translate-modal
                :items="selectedItemObjects"
                :sales-channel-id="salesChannelId"
                :defaults="translationDefaults"
                @translate="onTranslate"
                @cancel="showTranslateModal = false"
            />
        </mt-card>
    </div>
</div>
{% endblock %}
